{% extends 'base.html.twig' %}

{% block title %}New Habitat{% endblock %}

{% block body %}
    <h1>Create new Habitat</h1>

    {{ include('habitat/_form.html.twig') }}

    <a href="{{ path('app_habitat_index') }}">back to list</a>
{% endblock %}
