{% extends 'base.html.twig' %}

{% block title %}New Habitat{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Créer un habitat</h1>

        <div class="mb-3">
            {{ include('habitat/_form.html.twig') }}
        </div>

        <a href="{{ path('app_habitat_index') }}" class="btn btn-secondary">
            Retourner à la liste
        </a>
{% endblock %}
