{% extends 'base.html.twig' %}


{% block title %}Le zoo Arcadia{% endblock %}


{% block body %}

{% include 'navbar.html.twig' %}
{% include 'footer.html.twig' %}


<style>


</style>
<h1> Le zoo Arcadia</h1>
<h2> Le paradis des animaux </h2>
<div class = "container-fluid">
  <div class ="row">
    <div class ="col md-3 ">
      <div class="card" style="width: 18rem;">
        <img src="{{asset('images/train.jpeg')}}" class="card-img-top" alt="petit train">
          <div class="card-body">
            <h5 class="card-title">Nos services</h5>
             <p class="card-text">Bonjour à tous!<br>
              Dans notre zoo vous trouverez les services suivants:<br>
              <ul>
                <li>Restauration</li>
                <li>Visite des habitats avec guide <strong >gratuit!</strong></li>
                <li> Visite du zoo avec notre magnifique petit train! </li>
               </ul>
             </p>
             <a href="{{url('services')}}" class="btn btn-success">En savoir plus!</a>
          </div>
      </div>
    </div>
    <div class ="col md-6 ">
      <div class="card" style="width: 18rem;">
        <img src="{{asset('images/zebre.jpg')}}" class="card-img-top" alt="petit train">
         <div class="card-body">
          <h5 class="card-title">Nos services</h5>
            <p class="card-text">Bonjour à tous!<br>
             Dans notre zoo vous trouverez les animaux suivants:<br>
             <ul>
              <li> Nos félins :Lions , tigres ,puma</li>
              <li>Nos oiseaux exotiques</strong></li>
              <li><strong>Et tellement d'autres !!</<strong></li>
             </ul>
            </p>
            <a href="https://g.co/kgs/UwVkz7c" class="btn btn-success">Comment venir?</a>
       </div>
    </div>
  
</div>

</div>
{% endblock %}

