{% extends 'base.html.twig' %}

{% block title %}New RapportVeterinaire{% endblock %}

{% block body %}
    <h1>Create new RapportVeterinaire</h1>

    {{ include('rapport_veterinaire/_form.html.twig') }}

    <a href="{{ path('app_rapport_veterinaire_index') }}">back to list</a>
{% endblock %}
