{% extends 'base.html.twig' %}

{% block title %}Edit Animal{% endblock %}

{% block body %}
<div class="container mt-5">
        <h1 class="mb-4">Modifier les animaux</h1>

        <div class="mb-3">
            {{ include('animal/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>

        <a href="{{ path('app_animal_index') }}" class="btn btn-secondary">
            Retourner à la liste
        </a>

{% endblock %}
