{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .
</style>

<h1>Bonjour, José</h1>
<h2>Bienvenue dans votre espace administrateur</h2>
<h3>Que souhaitez-vous effectuer?</h3>
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-primary text-white" href="{{url('app_services_index') }}">Modifier les services</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary text-white" href="{{url('app_register') }}">Création de compte</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary text-white" href="{{url('app_habitat_index') }}">Modifier les habitats</a>
    </div>
</div>
{% endblock %}
