:root {
    --main: #D92332;
    --sub: #D94350;
    --aux: #D9777F;
    --black: #262526;
    --light: #F2F2F2;
    --white: #FFFFFF;
}

a {
    color: var(--aux);
}

body {
    background-color: var(--white);
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
}

.btn-main {
    border-color: var(--black);
    border-style: dashed;
    background-color: transparent;
    color: var(--black);
    font-weight: bold;
}

.btn-main:hover {
    background-color: var(--black);
    border-color: var(--black);
    color: var(--light);
    font-weight: bold;
    transition: 0.3s;
}

.btn,
.card {
    border-radius: var(--bs-border-radius-xl) !important;
    margin-top: 20px  !important;
    margin-bottom: 20px ;
}

.text-main {
    color: var(--main);
}

.text-sub {
    color: var(--sub);
}

.text-aux {
    color: var(--aux);
}

.material-icons {
    vertical-align: middle;
}


.admin-container ,.employee-container{
    margin-top: 50px;
}

.admin-card ,.employee-card  {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-header,.employee-header  {
    margin-bottom: 40px;
    text-align: center;
    color: rgba(144, 238, 144, 0.66);
   
}

.admin-btn {
    width: 100%;
    margin-top: 20px;

}
.card-title{
    color:rgb(64, 163, 64);
}
h1,h2{
    color: lightgreen; text-shadow: lightgreen 1px 0 10px;
}
.employee-table {
    margin-top: 30px;
}

.employee-btn {
    width: 100%;
    margin-top: 20px;
}

.alert {
    margin-top: 30px;
}
.table-container {
    margin-top: 30px;
}

.table {
    margin-bottom: 0;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.table thead th {
    background-color: #007bff;
    color: white;
}
