{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
{% include 'footer.html.twig' %}

<style>

  
</style>

 <div class="form">
            <form method="post" action="inscription.php.">
                <div class="element">
                <p> Veuillez sélectionner votre civilité</p> 
                <select class="name" name="civilité" id="civilité">
                    <option value="Mme">Mme</option>
                    <option value="Mr">Mr</option>
                    <option value="Mlle">Mlle</option>
                </select> <br>
                </div>
                <div class="element">
                <label  for="name">Nom*</label>
                <input type="text" id="name" name="name" placeholder="Votre nom " required><br>
                </div>
                <div class="element">
                <label for="firstName">Prénom*</label>
                <input type="text" id="firstName" name="firstName" placeholder="Votre prénom" required ><br>
                </div>
                <div class="element">

                <label for="email">E-mail*</label>
                <input type="email" id="email" name="email" placeholder="email@example.fr" required><br>
                </div>
                <div class="element">
                <label for="tel">Numéro de téléphone</label>
                <input type="tel" id="tel" name="tel" placeholder="00 00 00 00 00"><br>
               </div>
               <button type="button" class="btn btn-success">Envoyer le formulaire</button>
           </div>
{% endblock %}
