{# {% extends 'base.html.twig' %} #}
 {# {% block body %}                       #}
 <div class="container-fluid mt-5">
 <footer class="bg-success-subtle text-sucess mt-5 py-4 footer position-absolute bottom-0  w-100">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{asset('images/logo.png')}}" alt="Logo" width="100" height="70">
                <h5 class="mt-2">Zoo Arcadia</h5>
            </div>
            <div class="col-md-4">
                <h5>Informations de contact</h5>
                <ul class="list-unstyled">
                    <li>
                      <span class="material-icons">location_on</span>
                        <a href="https://g.co/kgs/UwVkz7c" class="text-decoration-none">
                            8 Rue Chaptal 44100 Nantes
                        </a>
                    </li>
                    <li>
                        <span class="material-icons">phone</span>
                        <a href="tel:0560338166" class="text-decoration-none">
                            05 60 33 81 66
                        </a>
                    </li>
                    <li>
                       <span class="material-icons">email</span>
                        <a href="mailto:zoo@arcadia.com"  class="text-decoration-none">
                            zoo@arcadia.com
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
            <h5>Horaires d'ouvertures</h5>
                {% for openingHour in openingHours %}
                    <p>{{ openingHour.day }} : {{ openingHour.openHour|date('H:i') }} - {{ openingHour.closeHour|date('H:i') }}</p>
                    {% endfor %}
             </div>
        </div>
    </div>
</footer>
 </div>
  
{# {%endblock%} #}