
    {% extends 'base.html.twig' %}

{% block title %}Gestion des avis{% endblock %}

{% block body %}
    <h1>Liste des avis en attente</h1>

    {% if pendingReviews is not empty %}
        <table>
            <thead>
                <tr>
                
                    <th>Nom de l'auteur</th>
                    <th>Contenu de l'avis</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for review in pendingReviews %}
                    <tr>
                        <td>{{ review.name }}</td>
                        <td>{{ review.content }}</td>

                        <td>
                            <a href="{{ path('employe_review_approve', {id: review.id}) }}">Approuver</a>
                            <a href="{{ path('employe_review_reject', {id: review.id}) }}">Rejeter</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun avis en attente pour le moment.</p>
    {% endif %}
{% endblock %}

